body, h1, h2, h3, h4, h5, h6, p, div, ul, li {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 700px;
    margin: 20px auto;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Arial";
}

#header {
    width: 700px;
    background-image: url(http://www.wall321.com/thumbnails/detail/20120609/outer%20space%20stars%20galaxies%20cosmos%20nebulae%202560x1440%20wallpaper_www.wall321.com_58.jpg);
    text-align: center;
    border-bottom: 1px solid #669999;
}

#header img {
    padding-top: 20px;
    padding-bottom: 20px;
}

#menulinks {
    width: 700px;
    background-color: #00C2AD;
    border-bottom: 1px solid #669999;
}

#nav {
    width: 384px;
    background-color: #00C2AD;
    height: 36px;
    margin: 0 auto;
}

#nav ul {
    list-style-type: none;
}

#nav ul li {
    float: left;
    position: relative;
}

#nav ul li a {
    display: block;
    font-size: 0.7em;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: 7px;
    line-height: 20px;
    height: 20px;
    width: 80px;
    background-color: #00C2AD;
    background: linear-gradient(#669999, #00C2AD);
    border: 1px solid #669999;
    border-radius: 5px;
}

#nav ul li a:hover {
    color: black;
    font-weight: bold;
    background-color: #00C2AD;
    background: linear-gradient(#00C2AD, #669999);
}

#nav ul li a.active, nav ul li a.active:hover {
    

    background-color: #00C2AD;
    background: linear-gradient(#00C2AD, #669999);
    color: black;
    cursor: default;
}

#about {
    width: 700px;
    background-color: #669999;
    padding-top: 35px;
    padding-bottom: 35px;
}

#content {
    width: 500px;
    margin: 0 auto;
    background-color: #9cbaba;
    background-color: #00C2AD;
    background: linear-gradient(#00C2AD, #669999);
    border: 1px solid #669999;
    border-radius: 15px;
    box-shadow: 2px 2px 4px #000;
}

#content img {
    float: left;
    border: 1px solid #669999;
    border-radius: 15px;
    padding: 5px;
    margin: 0.7em;
    background-color: #00C2AD;
    background: linear-gradient(#cccccc, #669999);
}

#content h5 {
    color: #000;
    padding-top: 0.8em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.1em;
}

#content p {
    font-size: 0.9em;
    color: #000;
    padding: 0.7em;
    line-height: 1.4em;
}

#footer {
    background-color: #636363;
    height: 10px;
    width: 700px;
    border-bottom: 1px solid #669999;
}
